<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906543217602-67gb8t70ai68ignpklgd1cn047d82kb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906543217602-67gb8t70ai68ignpklgd1cn047d82kb9</string>
	<key>API_KEY</key>
	<string>AIzaSyCIdziVkHO2eXBTpYqI-Mr-LgtTL1L_nl4</string>
	<key>GCM_SENDER_ID</key>
	<string>906543217602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanvirgeek.ForFun</string>
	<key>PROJECT_ID</key>
	<string>forfun-10bb6</string>
	<key>STORAGE_BUCKET</key>
	<string>forfun-10bb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906543217602:ios:05eb94f7410386addfb45b</string>
	<key>DATABASE_URL</key>
	<string>https://forfun-10bb6.firebaseio.com</string>
</dict>
</plist>